.element-focusable, .element-invisible {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.element-focusable:active, .element-focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  width: auto;
}

.element-hidden {
  display: none;
}

.clearfix:after {
  display: table;
  content: "";
}
.clearfix:after {
  clear: both;
}

.button {
  font-size: 0.875em;
  line-height: 1.5em;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwLjIiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC4yIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(255, 255, 255, 0.2)), color-stop(100%, rgba(0, 0, 0, 0.2)));
  background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%);
  background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%);
  background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%);
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%);
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  background-color: #f9f9f9;
  border: 1px solid #c6c6c6;
  border-bottom-color: #b9b9b9;
  border-top-color: lightgray;
  color: #333;
  cursor: pointer;
  display: inline-block;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0 0 1.3125em;
  padding: 0 0.5em;
  text-align: center;
  text-decoration: none;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  vertical-align: baseline;
}
.button:focus, .button:hover {
  background-color: white;
  border-color: #7a7a7a;
  color: #333;
  outline: 0;
}
.button:active {
  background-color: #e0e0e0;
  border-color: #adadad;
}
.button + .button {
  margin-left: 1em;
}
[dir="rtl"] .button + .button {
  margin-left: 0;
  margin-right: 1em;
}

.button--large {
  font-size: 1.1875em;
  line-height: 2.21053em;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden],
template {
  display: none;
}

b,
strong {
  font-weight: bold;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

svg:not(:root) {
  overflow: hidden;
}

code,
kbd,
pre,
samp {
  font-family: Consolas, "Lucida Console", "Liberation Mono", "Courier New", monospace, sans-serif;
  font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  max-width: 100%;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input[type="checkbox"],
input[type="radio"] {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

abbr,
blockquote,
code,
kbd,
q,
samp,
tt,
var {
  -moz-hyphens: none;
  -ms-hyphens: none;
  -webkit-hyphens: none;
  hyphens: none;
}

img,
input,
textarea,
video {
  height: auto;
  max-width: 100%;
}

embed,
iframe,
object {
  max-width: 100%;
}

::-moz-selection {
  background: blue;
  color: #fff;
  text-shadow: none;
}

::selection {
  background: blue;
  color: #fff;
  text-shadow: none;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

* {
  -moz-transition-property: background-color, border-color, box-shadow, color, opacity, text-shadow, -moz-transform;
  -o-transition-property: background-color, border-color, box-shadow, color, opacity, text-shadow, -o-transform;
  -webkit-transition-property: background-color, border-color, box-shadow, color, opacity, text-shadow, -webkit-transform;
  transition-property: background-color, border-color, box-shadow, color, opacity, text-shadow, transform;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -moz-transition-timing-function: linear;
  -o-transition-timing-function: linear;
  -webkit-transition-timing-function: linear;
  transition-timing-function: linear;
}

a {
  background-color: transparent;
  color: blue;
  outline-offset: 0.125em;
}
a:active, a:hover {
  outline: 0;
}
a:hover, a:focus {
  color: green;
}

abbr {
  font-variant: small-caps;
  text-transform: lowercase;
}
abbr[title] {
  border-bottom: 1px dotted;
}
abbr:hover {
  cursor: help;
}

blockquote {
  margin: 0 1.5em 1.3125em;
}

body {
  background-color: #fff;
  color: #333;
  margin: 0;
  padding: 0;
  word-wrap: break-word;
}

button {
  overflow: visible;
}

dd {
  margin-bottom: 1.3125em;
}

dfn {
  font-style: italic;
}

dl {
  margin: 0 0 1.3125em;
}

figure {
  margin: 0 0 1.3125em;
}

h1, h2, h3, h4, h5, h6 {
  color: #333;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  -moz-hyphens: none;
  -ms-hyphens: none;
  -webkit-hyphens: none;
  hyphens: none;
  line-height: 1.1;
  text-rendering: optimizeLegibility;
}

h1 {
  font-size: 1.625em;
  margin: 0 0 0.80769em;
}

h2 {
  font-size: 1.375em;
  margin: 0 0 0.95455em;
}

h3 {
  font-size: 1.1875em;
  margin: 0 0 1.10526em;
}

h4 {
  font-size: 1em;
  margin: 0 0 1.3125em;
}

h5 {
  font-size: 0.875em;
  margin: 0 0 1.5em;
}

h6 {
  font-size: 0.75em;
  margin: 0 0 1.75em;
}

hr {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  border: 1px solid #ccc;
  height: 0;
  margin: 1.3125em 0;
  padding-bottom: -1px;
}

html {
  line-height: 1.3125em;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

img {
  border: 0;
}

input {
  line-height: normal;
}

legend {
  border: 0;
  margin: 0;
  padding: 0;
}

mark {
  background: #ff0;
  color: #000;
}

ol {
  margin: 0 0 1.3125em;
  padding: 0 0 0 1.5em;
}
[dir="rtl"] ol {
  padding: 0 1.5em 0 0;
}
ol ol,
ol ul {
  margin: 0;
}

optgroup {
  font-weight: bold;
}

p {
  margin: 0 0 1.3125em;
}

pre {
  margin: 0 0 1.3125em;
  overflow: auto;
}

small {
  font-size: 0.875em;
  line-height: 1.5em;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

textarea {
  overflow: auto;
}

ul {
  margin: 0 0 1.3125em;
  padding: 0 0 0 1.2em;
}
[dir="rtl"] ul {
  padding: 0 1.2em 0 0;
}
ul ol,
ul ul {
  margin: 0;
}

@media print {
  * {
    background: transparent !important;
    box-shadow: none !important;
    color: #000 !important;
    text-shadow: none !important;
  }

  iframe,
  nav {
    display: none;
  }

  a,
  a:visited {
    text-decoration: none;
  }

  a[href]:after {
    content: " <" attr(href) ">";
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 10pt;
    font-weight: normal;
    text-transform: lowercase;
  }

  a[href^="javascript:"]:after,
  a[href^="mailto:"]:after,
  a[href^="tel:"]:after,
  a[href^="#"]:after {
    content: "";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  blockquote,
  pre {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group;
  }

  img,
  tr,
  ul {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  h1 a:after,
  h2 a:after,
  h3 a:after,
  h4 a:after,
  h5 a:after,
  h6 a:after {
    display: inline-block;
  }

  h2,
  h3,
  h4,
  p {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3,
  h4 {
    page-break-after: avoid;
  }

  @page {
    margin: 2cm;
  }
}
.layout-constrain {
  margin-left: auto;
  margin-right: auto;
  max-width: 75em;
  padding-left: 1em;
  padding-right: 1em;
}

.layout-main:after {
  display: table;
  content: "";
}
.layout-main:after {
  clear: both;
}
@media (min-width: 43.75em) {
  .layout-main.sidebar .layout-main__content {
    width: 65.21739%;
    float: left;
    margin-right: -100%;
    margin-left: 0;
    clear: none;
  }
  .layout-main.sidebar .layout-main__sidebar {
    width: 30.43478%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }
}

.layout-slat:after {
  display: table;
  content: "";
}
.layout-slat:after {
  clear: both;
}

.layout-slat__media {
  margin: 0;
  padding: 0 0 1.3125em;
}
@media (min-width: 37.5em) {
  .layout-slat__media {
    float: left;
    padding-right: 1em;
  }
}
.layout-slat__media:empty {
  padding: 0;
}
.layout-slat__media a,
.layout-slat__media img {
  display: block;
}

.layout-slat__content {
  display: table-cell;
  width: 10000px;
}

@media (min-width: 37.5em) {
  .layout-slat--reversed .layout-slat__media {
    float: right;
    padding-left: 1em;
    padding-right: 0;
  }
}

.aligncenter {
  display: block;
  margin-bottom: 1em;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}

.alignleft {
  max-width: 100%;
}

.alignleft {
  float: none;
  margin: 0;
}

@media (min-width: 43.75em) {
  .alignleft {
    float: left;
    margin: 0 1em 1em 0;
  }
}
.alignright {
  max-width: 100%;
}

.alignright {
  float: none;
  margin: 0;
}

@media (min-width: 43.75em) {
  .alignright {
    float: right;
    margin: 0 0 1em 1em;
  }
}
.bypostauthor {
  display: block;
}

ul.comment-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
ul.comment-list li {
  margin: 0 0 1em 0;
  padding: 0;
}
ul.comment-list ul {
  list-style: none;
  margin: 0.5em 0 0 1em;
}

.gallery-caption {
  max-width: 100%;
}

@media (min-width: 43.75em) {
  .mobile-menu {
    display: none;
  }
}

.mobile-menu__bar {
  background-color: rgba(243, 243, 243, 0.98);
  border-bottom: 1px solid #dadada;
  -moz-box-shadow: 0 0px 2px 1px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0 0px 2px 1px rgba(0, 0, 0, 0.4);
  box-shadow: 0 0px 2px 1px rgba(0, 0, 0, 0.4);
  color: #555559;
  height: 3.4375em;
  text-align: center;
}

.mobile-menu__button {
  -moz-border-radius: 0;
  border-radius: 0;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  background-color: transparent;
  border: 0;
  color: #555559;
  display: inline-block;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: bold;
  height: 3.4375em;
  line-height: 3.4375em;
  margin: 0;
  padding: 0 1em;
  text-decoration: none;
}
.mobile-menu__button:focus {
  outline: thin dotted;
}

.mobile-menu__button--menu {
  border-right: 1px solid #dadada;
  float: left;
}

.mobile-menu__button--search {
  border-left: 1px solid #dadada;
  float: right;
}

.mobile-menu__icon {
  height: 22px;
  overflow: hidden;
  width: 22px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 22px 22px;
  display: inline-block;
  margin-top: 1em;
}
.mobile-menu__icon:before {
  content: "";
  display: block;
  height: 150%;
  width: 0;
}

.is-active .mobile-menu__icon--menu, .is-active .mobile-menu__icon--search {
  background-image: url('../images/bg/mobile-close.png');
  background-image: -webkit-linear-gradient(transparent, transparent), url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjIiIGhlaWdodD0iMjIiIHZpZXdCb3g9IjAgMCAyMiAyMiIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB2ZXJzaW9uPSIxLjEiPg0KPHBhdGggZmlsbD0iIzU1NTU1OSIgZD0iTTIxLjkgMi4ybC0yLjItMi4yLTguOCA4LjgtOC44LTguOC0yLjIgMi4yIDguOCA4LjgtOC44IDguOCAyLjIgMi4yIDguOC04LjggOC44IDguOCAyLjItMi4yLTguOC04LjggOC44LTguOHoiLz4NCjwvc3ZnPg0K');
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjIiIGhlaWdodD0iMjIiIHZpZXdCb3g9IjAgMCAyMiAyMiIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB2ZXJzaW9uPSIxLjEiPg0KPHBhdGggZmlsbD0iIzU1NTU1OSIgZD0iTTIxLjkgMi4ybC0yLjItMi4yLTguOCA4LjgtOC44LTguOC0yLjIgMi4yIDguOCA4LjgtOC44IDguOCAyLjIgMi4yIDguOC04LjggOC44IDguOCAyLjItMi4yLTguOC04LjggOC44LTguOHoiLz4NCjwvc3ZnPg0K');
}

.mobile-menu__icon--menu {
  background-image: url('../images/bg/mobile-menu.png');
  background-image: -webkit-linear-gradient(transparent, transparent), url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzMiIGhlaWdodD0iMjIiIHZpZXdCb3g9IjAgMCAzMyAyMiIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB2ZXJzaW9uPSIxLjEiPg0KPHBhdGggZmlsbD0iIzU1NTU1OSIgZD0iTTAgMjJoMzMuMXYtMy43aC0zMy4xdjMuN3pNMCAxMi44aDMzLjF2LTMuN2gtMzMuMXYzLjd6TTAgMHYzLjdoMzMuMXYtMy43aC0zMy4xeiIvPg0KPC9zdmc+DQo=');
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzMiIGhlaWdodD0iMjIiIHZpZXdCb3g9IjAgMCAzMyAyMiIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB2ZXJzaW9uPSIxLjEiPg0KPHBhdGggZmlsbD0iIzU1NTU1OSIgZD0iTTAgMjJoMzMuMXYtMy43aC0zMy4xdjMuN3pNMCAxMi44aDMzLjF2LTMuN2gtMzMuMXYzLjd6TTAgMHYzLjdoMzMuMXYtMy43aC0zMy4xeiIvPg0KPC9zdmc+DQo=');
  background-size: 33px 22px;
  width: 33px;
}
.is-active .mobile-menu__icon--menu {
  background-size: 22px 22px;
}

.mobile-menu__icon--search {
  background-image: url('../images/bg/mobile-search.png');
  background-image: -webkit-linear-gradient(transparent, transparent), url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjIiIGhlaWdodD0iMjIiIHZpZXdCb3g9IjAgMCAyMiAyMiIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB2ZXJzaW9uPSIxLjEiPg0KPHBhdGggZmlsbD0iIzU1NTU1OSIgZD0iTTIxLjMgMTguN2wtNS4yLTQuNGMtMC41LTAuNS0xLjEtMC43LTEuNi0wLjcgMS4yLTEuNCAyLTMuMyAyLTUuNCAwLTQuNi0zLjctOC4yLTguMi04LjJzLTguMiAzLjctOC4yIDguMyAzLjcgOC4zIDguMyA4LjNjMiAwIDMuOS0wLjcgNS40LTIgMCAwLjUgMC4yIDEgMC43IDEuNmw0LjQgNS4yYzAuOCAwLjggMiAwLjkgMi44IDAuMnMwLjctMi0wLjItMi44ek04LjMgMTMuOGMtMyAwLTUuNS0yLjUtNS41LTUuNXMyLjUtNS41IDUuNS01LjUgNS41IDIuNSA1LjUgNS41LTIuNSA1LjUtNS41IDUuNXoiLz4NCjwvc3ZnPg0K');
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjIiIGhlaWdodD0iMjIiIHZpZXdCb3g9IjAgMCAyMiAyMiIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB2ZXJzaW9uPSIxLjEiPg0KPHBhdGggZmlsbD0iIzU1NTU1OSIgZD0iTTIxLjMgMTguN2wtNS4yLTQuNGMtMC41LTAuNS0xLjEtMC43LTEuNi0wLjcgMS4yLTEuNCAyLTMuMyAyLTUuNCAwLTQuNi0zLjctOC4yLTguMi04LjJzLTguMiAzLjctOC4yIDguMyAzLjcgOC4zIDguMyA4LjNjMiAwIDMuOS0wLjcgNS40LTIgMCAwLjUgMC4yIDEgMC43IDEuNmw0LjQgNS4yYzAuOCAwLjggMiAwLjkgMi44IDAuMnMwLjctMi0wLjItMi44ek04LjMgMTMuOGMtMyAwLTUuNS0yLjUtNS41LTUuNXMyLjUtNS41IDUuNS01LjUgNS41IDIuNSA1LjUgNS41LTIuNSA1LjUtNS41IDUuNXoiLz4NCjwvc3ZnPg0K');
}

.mobile-menu__links {
  background-color: #f3f3f3;
  background-color: rgba(243, 243, 243, 0.98);
  color: #555559;
  position: absolute;
  width: 100%;
  z-index: 100;
}

.mobile-menu__search {
  display: none;
  padding: 0.5em;
}
.mobile-menu__search form,
.mobile-menu__search .form-item,
.mobile-menu__search .form-text {
  width: 100%;
}
.mobile-menu__search .form-text {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.nav {
  list-style: none;
  padding: 0;
}

.nav--primary ul.nav > .nav__item, .nav--secondary ul.nav > .nav__item {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  white-space: nowrap;
}

.nav--mobile-menu {
  margin: 0.75em 0 0 0;
}
.nav--mobile-menu .nav__item {
  margin: 0;
  padding: 0;
}
.nav--mobile-menu .nav__link {
  background-color: transparent;
  border: 0;
  color: #555559;
  display: block;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.125em;
  font-weight: bold;
  line-height: 1.25;
  margin: 0;
  padding: 0.59722em 1.25em;
  position: relative;
  text-align: left;
  text-decoration: none;
  white-space: normal;
  width: auto;
  z-index: 3;
}
.nav--mobile-menu .nav__link:focus, .nav--mobile-menu .nav__link:hover, .nav--mobile-menu .nav__link:active, .nav--mobile-menu .nav__link.is-active {
  color: #000000;
}
.nav--mobile-menu .nav__item--parent {
  position: relative;
}
.nav--mobile-menu .nav__item--parent.is-open {
  background: #fff;
  background: rgba(255, 255, 255, 0.98);
}
.nav--mobile-menu .nav__item--parent > .nav__link {
  display: inline-block;
}
.nav--mobile-menu .nav__subnav-arrow {
  background: none;
  height: 44px;
  overflow: hidden;
  width: 100%;
  background-image: url('../images/bg/mobile-arrow-down.png');
  background-image: -webkit-linear-gradient(transparent, transparent), url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTkiIGhlaWdodD0iMTIiIHZpZXdCb3g9IjAgMCAxOSAxMiIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB2ZXJzaW9uPSIxLjEiPg0KPHBhdGggZmlsbD0iIzhlOGU4ZSIgZD0iTTIuMyAwbDcuNSA3LjUgNy41LTcuNSAyLjMgMi4zLTkuNyA5LjctOS43LTkuNyAyLjMtMi4zeiIvPg0KPC9zdmc+DQo=');
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTkiIGhlaWdodD0iMTIiIHZpZXdCb3g9IjAgMCAxOSAxMiIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB2ZXJzaW9uPSIxLjEiPg0KPHBhdGggZmlsbD0iIzhlOGU4ZSIgZD0iTTIuMyAwbDcuNSA3LjUgNy41LTcuNSAyLjMgMi4zLTkuNyA5LjctOS43LTkuNyAyLjMtMi4zeiIvPg0KPC9zdmc+DQo=');
  background-position: 95% 50%;
  background-repeat: no-repeat;
  background-size: 19px 12px;
  border: 0;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  display: inline-block;
  height: 2.75em;
  position: absolute;
  right: 0;
  top: 0;
  vertical-align: top;
  z-index: 2;
}
.nav--mobile-menu .nav__subnav-arrow:before {
  content: "";
  display: block;
  height: 150%;
  width: 0;
}
.nav--mobile-menu .nav__subnav-arrow:focus {
  outline: thin dotted;
}
.nav--mobile-menu .nav__subnav-arrow.is-active {
  background-image: url('../images/bg/mobile-arrow-up.png');
  background-image: -webkit-linear-gradient(transparent, transparent), url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTkiIGhlaWdodD0iMTIiIHZpZXdCb3g9IjAgMCAxOSAxMiIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB2ZXJzaW9uPSIxLjEiPg0KPHBhdGggZmlsbD0iIzhlOGU4ZSIgZD0iTTIuMyAxMmw3LjUtNy41IDcuNSA3LjUgMi4zLTIuMy05LjctOS43LTkuNyA5LjcgMi4zIDIuM3oiLz4NCjwvc3ZnPg0K');
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTkiIGhlaWdodD0iMTIiIHZpZXdCb3g9IjAgMCAxOSAxMiIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB2ZXJzaW9uPSIxLjEiPg0KPHBhdGggZmlsbD0iIzhlOGU4ZSIgZD0iTTIuMyAxMmw3LjUtNy41IDcuNSA3LjUgMi4zLTIuMy05LjctOS43LTkuNyA5LjcgMi4zIDIuM3oiLz4NCjwvc3ZnPg0K');
}
[dir="rtl"] .nav--mobile-menu .nav__subnav-arrow {
  left: 0;
  right: auto;
}
.nav--mobile-menu .nav--subnav {
  display: none;
  list-style: none;
  margin: 0;
  padding: 0;
}
.nav--mobile-menu .nav--subnav .nav__link {
  color: #555559;
  padding-left: 2em;
}
.nav--mobile-menu .nav--subnav .nav__link:focus, .nav--mobile-menu .nav--subnav .nav__link:hover, .nav--mobile-menu .nav--subnav .nav__link:active {
  color: #000000;
}

.nav--primary {
  display: none;
}
@media (min-width: 43.75em) {
  .nav--primary {
    display: block;
  }
}
@media print {
  .nav--primary {
    display: none;
  }
}

.skiplinks {
  left: 50%;
  margin-left: -7em;
  position: absolute;
  width: 14em;
  z-index: 9999;
}

.skiplinks__link,
.skiplinks__link:visited,
.skiplinks__link:focus {
  -moz-border-radius-bottomleft: 5px;
  border-bottom-left-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  border-bottom-right-radius: 5px;
  background-color: #333;
  border: 2px solid #eee;
  border-top: 0;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
  color: #eee;
  display: inline-block;
  font-weight: bold;
  line-height: 1.5;
  margin: 0;
  outline: 0;
  padding: 0.25em 0.5em;
  text-align: center;
  text-decoration: none;
  width: 14em;
}

#main:focus {
  outline: 0;
}

.sticky {
  display: block;
}

.wp-caption {
  max-width: 100%;
}
.wp-caption .wp-caption-text {
  max-width: 100%;
}

/*# sourceMappingURL=styles.css.map */
