// @file
// Styles for the main menu.

.nav--primary {
  display: none;
  @include breakpoint($bp-hide-mobile-menu) {
    display: block;
  }
  ul.nav {
    @extend %nav--inline;
  }
  @media print {
    display: none;
  }
}
