<div class="layout-sidebar has-sidebar">
  <div class="layout-sidebar__preface">
    <p style="background:#333;color:#fff;padding:1em">Preface</p>
  </div>
  <div class="layout-sidebar__main">
    <p style="background:#333;color:#fff;padding:1em">Main</p>
  </div>
  <div class="layout-sidebar__sidebar">
    <p style="background:#333;color:#fff;padding:1em">Sidebar</p>
  </div>
</div>
