<div class="layout-three-column has-first has-second empty-third">
  <div class="layout-three-column__preface">
    <p style="background:#333;color:#fff;padding:1em">Preface</p>
  </div>
  <div class="layout-three-column__first">
    <p style="background:#333;color:#fff;padding:1em">First</p>
  </div>
  <div class="layout-three-column__second">
    <p style="background:#333;color:#fff;padding:1em">Second</p>
  </div>
</div>
