.DS_Store
.idea
.vscode
node_modules

## Ignore compiled files
build/*.php
build/css
build/js
build/fonts/*
## To unignore fonts placed in the dist/fonts directory, uncomment and update
## !build/fonts/[DIRECTORY_NAME]/
build/design-tokens.js
build/theme-json.js
build/images/backgrounds
build/images/sprite.artifact.svg
source/00-config/_design-tokens.artifact.scss
source/00-config/_GESSO.es6.js
theme.json

dependencyGraph.json
vendor
