.DS_Store
node_modules
.sass-cache
pattern-lab

## Ignore compiled files
build/*.php
build/css
build/js
build/design-tokens.js
build/theme-json.js
build/images/backgrounds
build/images/sprite.artifact.svg
source/00-config/_design-tokens.artifact.scss
source/00-config/_GESSO.es6.js
theme.json

dependencyGraph.json
.vscode
.idea
vendor
