@use '00-config' as *;

$danger-bg: var(--wp--preset--color--other-red-base);
$danger-bg-hover: var(--wp--preset--color--other-red-dark);
$danger-bg-active: var(--wp--preset--color--other-red-dark-1);
$danger-text: var(--wp--preset--color--grayscale-white);

$secondary-bg: var(--wp--preset--color--brand-secondary-base);
$secondary-bg-hover: var(--wp--preset--color--brand-secondary-base);
$secondary-bg-active: var(--wp--preset--color--brand-secondary-base);
$secondary-text: var(--wp--preset--color--grayscale-white);
$secondary-text-hover: var(--wp--preset--color--grayscale-white);
$secondary-text-active: var(--wp--preset--color--grayscale-white);

.wp-block-button__link {
  margin-block-end: var(--wp--preset--spacing--2);
}

.is-style-primary .wp-block-button__link,
.wp-block-file__button {
  @include button();
}

.wp-block-file__button {
  vertical-align: middle;
}

.is-style-danger .wp-block-button__link {
  @include button(
    $color-background: $danger-bg,
    $color-text: $danger-text,
    $color-background-hover: $danger-bg-hover,
    $color-text-hover: $danger-text,
    $color-background-active: $danger-bg-active,
    $color-text-active: $danger-text
  );
}

.is-style-secondary .wp-block-button__link {
  @include button(
    $color-background: $secondary-bg,
    $color-text: $secondary-text,
    $color-background-hover: $secondary-bg-hover,
    $color-text-hover: $secondary-text-hover,
    $color-background-active: $secondary-bg-active,
    $color-text-active: $secondary-text-active
  );
}
