{% extends 'content.twig' %}

{% block main %}
  <!-- Provided by templates/post-formats/content-audio.twig -->
  {% set audio = function( 'get_media_embedded_in_content', post.content, ['audio'] ) %}
  {% if '' != audio %}
    {% for audio_html in audio %}
      <div>
        {{ audio_html }}
      </div>
    {% endfor %}
  {% endif %}
{% endblock %}
