{% extends 'content.twig' %}

{% block main %}
  <!-- Provided by templates/post-formats/content-video.twig -->
  {% set video = function( 'get_media_embedded_in_content', post.content, ['video', 'object', 'embed', 'iframe'] ) %}
  {% if '' != video %}
    {% for video_html in video %}
      <div>
        {{ video_html }}
      </div>
    {% endfor %}
  {% endif %}
{% endblock %}