{% extends 'content.twig' %}

{% block main %}
  <!-- Provided by templates/post-formats/content-image.twig -->
  {% if '' != function( 'get_the_post_thumbnail' ) %}
    <a href="{{ post.link }}">
      {{ function( 'the_post_thumbnail', 'large' ) }}
    </a>
  {% endif %}
  {{ post.content }}
{% endblock %}
