{% extends "base.twig" %}

{% block content %}
    <!-- Provided by views/404.twig -->
      <section>
        <article id="post-404">
          <h1 class="page-title">{{ __('Uh-Oh...Page not found!', 'gesso') }}</h1>
          <a href="{{site.url}}">{{ __('Return to Homepage','gesso') }}</a>
        </article>
      </section>
{% endblock %}
