{% extends "base.twig" %}

{% block content %}
    <!-- Provided by views/404.twig -->
      <section class="section section--404">
        <article class="article article--404" id="post-404">
          <h1 class="article__title">{{ __('Uh-Oh...Page not found!', 'gesso') }}</h1>
          <a href="{{site.url}}">{{ __('Return to Homepage','gesso') }}</a>
        </article>
      </section>
{% endblock %}
