{% extends "base.twig" %}

{% block content %}
  <main id="main" class="main" role="main" tabindex="-1">
    <?php if (has_visible_widgets('widget-area-1')) { $sidebarclasses = 'sidebar'; } else { $sidebarclasses = 'no-sidebar'; }?>
		<div class="layout-main layout-constrain {{ sidebarclasses }} ?>">

			<div class="layout-main__content">
				<section>
					<h1 class="page-title">Archives</h1>
          {% include 'templates/loop.twig' %}
					{% include 'templates/pagination.twig' %}
				</section>
			</div>

		</div>
	</main>
{% endblock %}
