{% extends "base.twig" %}

{% block content %}
    <!-- Provided by views/archive.twig -->
    <section class="section section--archive">
        <div class="section__title">
            <h1>{{__('Archives: ', 'gesso') }}{{ wp_title }}</h1>
        </div>
        <div class="section__loop">
            {% include 'templates/loop.twig' %}
        </div>
        {% include 'templates/pager.twig' %}
    </section>
{% endblock %}
