<footer class="footer" role="contentinfo">
	<div class="footer-inner layout-constrain">

		{{ function('get_sidebar', 'footer') }}

		<p class="copyright">
			&copy; 2015 Copyright {{ site.name }}. 				
		</p>
	</div>
</footer>
		
