{% extends "base.twig" %}

{% block content %}
    <!-- Provided by views/front-page.twig -->
    <section class="section section--front-page">
        {% include 'templates/loop.twig' %}
        {% include 'templates/pager.twig' %}
    </section>
{% endblock %}
