{% extends "base.twig" %}

{% block content %}
  <h1>SEARCH-RESULTS.TWIG</h1>
  <!-- search-results.twig -->
  {% for post in posts %}
    <p>{{post.title}}</p>
  {% endfor %}

  {% include 'templates/pager.twig' %}

{% endblock %}
