{% extends "base.twig" %}

{% block content %}

  <!-- Provided by views/search.twig -->
  <section class="section section--search-results">
    <h1>{{ __('Search results for term: ', 'gesso') }} {{ request.get.s }}</h1>
    {% for post in posts %}
      <div class="search-result">
        <a href="{{ post.link }}">{{post.title}}</a>
      </div>
    {% endfor %}
    {% include 'templates/pager.twig' %}
  </section>


{% endblock %}
