{% extends "base.twig" %}

{% block content %}

    <!-- Provided by views/tag.twig -->
    <div class="tag__title">
        <h2>{{ __('Tag Archive: ' , 'gesso') }} {{ wp_title }}</h2>
    </div>

    <section class="tag__result-wrapper">
        {% for post in posts %}
            <div class="tag__result">
                <a class="tag__link" href="{{post.link}}">{{post.title}}</a>
            </div>
        {% endfor %}
    </section>

    {% include 'templates/pager.twig' %}

{% endblock %}
