{% extends "base.twig" %}


{% block content %}

  <!-- tag.twig -->

  {% for post in posts %}
    <a href="{{post.link}}">{{post.title}}</p>
  {% endfor %}

  {% include 'templates/pager.twig' %}

{% endblock %}
