@use '00-config' as *;

$accordion-item-border-color: var(--wp--preset--color--gray-2, #e6e6e6);
$accordion-item-icon-color: var(--wp--preset--color--black, #000);
$accordion-item-icon-size: 20px;

.wp-block-details {
	border-bottom: 1px solid $accordion-item-border-color;

  summary {
    @include reduce-motion('transition');
    cursor: pointer;
    display: flex;
    font-weight: 700;
    justify-content: space-between;
    margin-block: 0;
    margin-inline: 0;
    padding-block: 1rem;
    padding-inline: 4rem calc($accordion-item-icon-size + 16px);
    position: relative;
    transition: all 200ms ease-out;

    &::before,
    &::after {
      @include reduce-motion('transition');
      background-color: $accordion-item-icon-color;
      content: '';
      display: block;
      height: $accordion-item-icon-size;
      left: calc(($accordion-item-icon-size + 10px) / 2);
      margin-block-start: calc(($accordion-item-icon-size + 6px) / 2);
      position: absolute;
      transform: translate(-50%, -50%);
      transform-origin: center;
      transition: transform 150ms ease-out;
      width: 2px;
    }

    &::after {
      transform: translate(-50%, -50%) rotate(90deg);
    }

    + * {
      padding-block: 0 1rem;
      padding-inline: 4rem 1rem;
    }
  }

  &[open] {
    summary::before {
      transform: translate(-50%, -50%) rotate(90deg);
    }
  }
}
