// HTML Element: Definition List

@use '00-config' as *;

dd {
  margin-block-end: var(--wp--preset--spacing--4);
  padding-inline-start: var(--wp--preset--spacing--3);

  dt + & {
    margin-block-start: 0;
  }
}

dl {
  margin-block-end: var(--wp--preset--spacing--4);
}

// dt {}
