// HTML Element: Body

@use '00-config' as *;

// Overflow-x and width properties ensure elements using full bleed techniques
// (e.g., the layout-full-bleed mixin) do not create horizontal scroll bars.
body {
  background-color: var(--wp--preset--color--grayscale-white);
  color: var(--wp--preset--color--grayscale-black);
  font-family: var(--wp--preset--font-family--primary);
  font-size: calc(100% * (var(--wp--preset--font-size--4) / 16px));
  line-height: var(--wp--custom--line-height--base);
  margin-block: 0;
  margin-inline: 0;
  overflow-x: hidden;
  padding-block: 0;
  padding-inline: 0;
  width: 100%;
  word-wrap: break-word;

  &.has-open-menu {
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
  }
}
