// @file
// Styles for secondary buttons.

.button--secondary {
  background-color: #5b616b;
  color: #fff;

  &:focus,
  &:hover {
    background-color: #323a45;
    color: #fff;
  }

  &:active {
    background-color: #212121;
    color: #fff;
  }
}
