// HTML Element: Blockquote

@use '00-config' as *;

$blockquote-cite-divider-color: var(--wp--preset--color--grayscale-gray-3);

blockquote {
  * + & {
    margin-block-start: var(--wp--preset--spacing--4);
  }

  p {
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;

    &::before {
      content: '\201C';
    }

    &::after {
      content: '\201D';
    }
  }

  &:last-child {
    margin-block-end: 0;
  }

  @media print {
    page-break-inside: avoid;
  }
}
