@use '00-config' as *;

.wp-block-f1-block-library-standalone-link {
	&.is-style-arrow {
		display: inline-block;
		line-height: 1;
		padding-inline-end: 1.25rem;
		position: relative;

		[class*='wp-container-'] > & {
			padding-inline-end: calc(1.25rem + 16px);

			@media screen and (min-width: 51.2em) {
				padding-inline-end: calc(1.25rem + 32px);
			}
		}

		[class*='wp-container-'] [class*='wp-container-'] > & {
			padding-inline-end: 1.25rem;
		}

		&::after {
			@include svg-background(arrow-forward);
			background-repeat: no-repeat;
			block-size: 1rem;
			content: '';
			display: inline-block;
			inline-size: 1rem;
			inset-block-start: 0;
			inset-inline-end: 0;
			overflow: hidden;
			position: absolute;
		}

		@media (prefers-reduced-motion: no-preference) {
			&:hover,
			&:focus {
				&::after {
					animation: arrowSlide 0.3s ease-in-out;
				}
			}
		}
	}
}

@keyframes arrowSlide {
	0% {
		inset-inline-end: 0;
	}
	25% {
		inset-inline-end: -10px;
	}
	50% {
		inset-inline-end: -25px;
	}
	75% {
		inset-inline-end: -10px;
	}
	100% {
		inset-inline-end: 0;
	}
}
