.alignright, .alignleft, .wp-caption {
	max-width: 100%;
}

.alignright, .alignleft {
	float: none;
	margin: 0;
}
	
@include breakpoint(700px, $no-query: true) {
	.alignright { 
		float: right; 
		margin: 0 0 1em 1em;
	}
	
	.alignleft { 
		float: left;
		margin: 0 1em 1em 0;
	}
}

.aligncenter { 
	display: block; 
	margin-left: auto; 
	margin-right: auto;
	margin-bottom: 1em;
	max-width: 100%;
}

