.l-constrain {
  margin: 0 auto;
  max-width: em($max-page-width);
  padding: 0 1em;

  @if $breakpoint-no-queries {
    width: em($max-page-width);
  }
}

.l-main {
	@include clearfix;
  &.sidebar {
  	@include breakpoint(700px, $no-query: true) {
    	$grids: 12;
    	$gutters: 1;
    	.l-main__content {
      	@include grid-span(8,1);
    	}
    	.l-main__sidebar {
      	@include grid-span(4,9);
    	}
    }
  }
}

