{% set classes = [
  'details',
  modifier_classes ? modifier_classes,
]|join(' ')|trim %}

<details class="{{ classes }}">
  {% if details_summary %}
    <summary class="details__summary" role="button">{{ details_summary }}</summary>
  {% endif %}
  <div class="details__content">
    {% if details_description %}
      <div class="details__description">{{ details_description }}</div>
    {% endif %}
    {{ details_content }}
  </div>
</details>
