@use '00-config' as *;

.skiplinks {
	display: flex;
	font-family: var(--wp--preset--font-family--system);
	justify-content: center;
	position: absolute;
	width: 100%;
	z-index: var(--wp--custom--z-index--skiplinks);
}

.skiplinks__link,
.skiplinks__link:visited,
.skiplinks__link:focus {
	background-color: var(--wp--preset--color--grayscale-gray-6);
	border: 2px solid var(--wp--preset--color--grayscale-gray-1);
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	border-top: 0;
	box-shadow: var(--wp--custom--box-shadow--2);
	color: var(--wp--preset--color--grayscale-white);
	display: inline-block;
	font-weight: bold;
	line-height: var(--wp--custom--line-height--short);
	margin-block: 0;
	margin-inline: 0;
	outline: 0;
	padding-block: var(--wp--preset--spacing--4);
	padding-inline: var(--wp--preset--spacing--4);
	text-align: center;
	text-decoration: none;
}

// The combination of selectors here means Stylelint is not happy
// regardless of the order they're in.
// stylelint-disable no-descending-specificity
.skiplinks__link {
	@include visually-hidden;
	@include focusable;
}
// stylelint-enable no-descending-specificity

// Remove :focus styles for skiplink targets.
// stylelint-disable-next-line selector-max-id
#main:focus {
	outline: 0;
}
