// @file
// Custom sass variables
//
// Define the custom variables for your project here.
// http://sass-lang.com/docs/yardoc/file.SASS_REFERENCE.html#variables_

// Colors
$primary-text-color: #333;
$secondary-text-color: #555;
$heading-text-color: #333;
$body-color: #fff;
$link-color: blue;
$link-hover-color: green;
$selection-background: blue;
$selection-foreground: #fff;
$border-color: #ccc;
$gradient-light: rgba(255, 255, 255, 0.2);
$gradient-dark: rgba(0, 0, 0, 0.2);

// Forms
$form-bg-color: #eee; // Used for fieldsets and vertical-tabs.
$form-border-color: #ccc;

// Buttons
$button-bg-color: #f9f9f9;
$button-text-color: #333;

// Mobile Menu
$mobile-menu-bg-color: rgba(0, 0, 0, 0.9);
$mobile-menu-bg-color-fallback: #111;
$mobile-menu-border-color: #666;
$mobile-menu-text-color: #eee;
$mobile-menu-link-color: #37b;
$mobile-submenu-bg-color: #eee;
$mobile-submenu-border-color: #ccc;
$mobile-submenu-text-color: #333;
$mobile-submenu-link-color: #ddd;