@use '00-config' as *;

// Gratuitous nesting here to increase specificity of selector.
.article {
  .article__footer {
    gap: 0;

    > * {
      border-inline-end: 1px solid var(--wp--preset--color--grayscale-gray-3);
      margin-inline-end: 0.75em;
      padding-inline-end: 0.75em;

      &:last-child {
        border-inline-end: 0;
        margin-inline-end: 0;
        padding-inline-end: 0;
      }
    }
  }
}
