{% set classes = [
  'c-site-name',
  modifier_classes ? modifier_classes : '',
]|join(' ')|trim %}

<a class="{{ classes }}"{% if url %} href="{{ url }}"{% endif %} title="{{ 'Home' }}" rel="home">
  <span class="c-site-name__text">{{ site_name }}</span>
</a>
