// @file
// Layout partials
//
// The layout of major regions that components will be placed into. Build
// sub-folders and partials in the 'layout' folder and import them, in cascading
// order, into this file.

@import 'layout/**/*.*';
 
