{% set classes = [
  'c-skiplinks',
  modifier_classes ? modifier_classes : '',
]|join(' ')|trim %}

<div class="{{ classes }}">
  <a href="#main" class="c-skiplinks__link u-visually-hidden u-focusable">{{ 'Skip to main content' }}</a>
</div>
