@use '00-config' as *;

.back-to-top {
	@include break-small {
		@include reduce-motion('transition');
		background-color: var(--wp--preset--color--grayscale-black);
		border-radius: 50%;
		color: var(--wp--preset--color--grayscale-white);
		transition-duration: 200ms;
		transition-property: filter, opacity;
		transition-timing-function: ease-in;

		&:visited {
			color: currentcolor;
		}

		&:hover,
		&:focus {
			filter: brightness(0.6);
		}
	}
}
