$pager-link-spacing: 10px;

.pagination {
  padding: 1em 0;
  display: inline-block;
  .pane {
    float: left;
    margin-right: $pager-link-spacing;
  }
  .pane--second {
    margin-right: 0;
  }
  .pages {
    list-style-type: none;
    margin: 0;
    padding: 0;
    li {
      float: left;
      margin-right: $pager-link-spacing;
    }
  }
}
