@use '00-config' as *;

.collapsed-search {
	--search-content-left: 0;
	--search-content-width: 100%;

	@include break-small {
		position: relative;
		z-index: var(--wp--custom--z-index--nav);
	}
}

.collapsed-search__toggle {
	display: none;

	@include break-small {
		appearance: none;
		background-color: transparent;
		border-block: 0;
		border-radius: 0;
		color: var(--wp--preset--color--primary-base);
		cursor: pointer;
		display: inline-block;
		padding-block: 0;
		padding-inline: 0;

		svg {
			block-size: rem(24px);
			inline-size: rem(24px);
		}
	}
}

.collapsed-search__content {
	@include break-small {
		background-color: var(--wp--preset--color--grayscale-gray-3);
		display: none;
		inline-size: var(--search-content-width);
		inset-block-start: 100%;
		inset-inline-start: var(--search-content-left);
		padding-block: var(--wp--preset--spacing--4);
		padding-inline: var(--wp--preset--spacing--4);
		position: absolute;

		.has-open-search & {
			display: flex;
			justify-content: flex-end;
			z-index: var(--wp--custom--z-index--nav);
		}
	}
}

.wp-block-search.is-style-collapsed {
	@include break-small {
		inline-size: 100%;
		max-inline-size: rem(500px);
	}
}
