// @file
// Styles WYSIWYG right alignment.

.alignright {
  float: none;
  margin: 0;
  max-width: 100%;

  @include breakpoint(700px) {
    float: right;
    margin-bottom: rem(gesso-spacing(2));
    margin-left: rem(gesso-spacing(2));
  }
}
