// @file
// Styles WYSIWYG left alignment.

.alignleft {
  max-width: 100%;
}

.alignleft {
  float: none;
  margin: 0;
}

@include breakpoint(700px) {
  .alignleft {
    @include vertical-spacing(rem(gesso-spacing(sm)));
    float: left;
    margin-bottom: rem(gesso-spacing(sm));
    margin-right: rem(gesso-spacing(sm));
  }
}
