<div class="comment-summary">
  {% if comments %}
    <span>Comments: {% if comments == 'random_number' %}{{ random(100) }}{% else %}{{ comments }}{% endif %}</span>
  {% endif %}
  <a href="{{ url }}#respond">Leave a comment</a>
</div>