<!-- wp:template-part {"slug":"header","tagName":"header","className":"l-header"} /-->

<!-- wp:group {"tagName":"main","layout":{"inherit":true,"type":"constrained"}} -->
<main class="wp-block-group"><!-- wp:heading {"level":1,"className":"is-style-default l-constrain l-constrain\u002d\u002dsmall"} -->
	<h1 class="is-style-default l-constrain l-constrain--small" id="uh-oh-page-not-found">Page not found</h1>
	<!-- /wp:heading -->

	<!-- wp:group {"className":"u-spaced-5","layout":{"type":"constrained"}} -->
	<div class="wp-block-group u-spaced-5"><!-- wp:paragraph {"className":"l-constrain l-constrain\u002d\u002dsmall"} -->
	<p class="l-constrain l-constrain--small">We're sorry - the page you requested was not found.</p>
	<!-- /wp:paragraph -->

	<!-- wp:paragraph {"className":"l-constrain l-constrain\u002d\u002dsmall"} -->
	<p class="l-constrain l-constrain--small">Please try one of the following options:</p>
	<!-- /wp:paragraph -->

	<!-- wp:list {"className":"l-constrain l-constrain\u002d\u002dsmall"} -->
	<ul class="l-constrain l-constrain--small"><!-- wp:list-item -->
	<li>If you typed the URL into your browser’s address bar, check that it is spelled correctly.</li>
	<!-- /wp:list-item -->

	<!-- wp:list-item -->
	<li><a href="/?s=">Search our site</a> by keyword or content type</li>
	<!-- /wp:list-item -->

	<!-- wp:list-item -->
	<li>Visit our <a href="/">homepage</a> for the latest news and information.</li>
	<!-- /wp:list-item --></ul>
	<!-- /wp:list -->

	<!-- wp:paragraph {"className":"l-constrain l-constrain\u002d\u002dsmall"} -->
	<p class="l-constrain l-constrain--small"><a href="/">Return to Homepage</a></p>
	<!-- /wp:paragraph --></div>
	<!-- /wp:group --></main>
	<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer","className":"l-footer"} /-->
