{% extends "base.twig" %}

{% block content %}
  <!-- Provided by templates/404.twig -->
  <section>
    <h1 class="page-title">{{ __('Uh-Oh...Page not found!', 'gesso') }}</h1>
    <h2><a href="{{site.url}}">{{ __('Return to Homepage','gesso') }}</a></h2>
  </section>
{% endblock %}
