{% extends "base.twig" %}

{% block content %}
  <!-- Provided by templates/archive.twig -->
  {% embed '@layouts/regions/content/content.twig' %}
    {% block content %}
			<section>
				<h1 class="page-title">{{ __('Archives: ', 'gesso') }} {{ title }}</h1>
				{% include 'templates/components/loop.twig' %}
				{% include '@components/pager/pager.twig' %}
			</section>
    {% endblock %}
  {% endembed %}
{% endblock %}