{% extends "base.twig" %}

{% block content %}
<!-- Provided by templates/archive.twig -->
<section>
	<h1 class="page-title">{{ __('Archives: ', 'gesso') }} {{ title }}</h1>
	{% include 'templates/components/loop.twig' %}
	{% include 'templates/components/pagination.twig' %}
</section>
{% endblock %}
