{% extends "base.twig" %}

{% block content %}
  <!-- Provided by templates/author.twig -->
  {% if posts %}
    {% include "@components/page-title/page-title.twig" with
      {
        page_title: title
      }
    %}
    {% include "@layouts/media/media.twig"
      with {
        media: author.avatar ? include('@base/images/thumbnail-image.twig', {
          img: {
            thumbnail: {
              src: author.avatar.abs_url,
              alt: "author image"
            }
          }
        }),
        content: author.description
      }
    %}
    {% for post in posts %}
      {% include "@components/image-teaser/image-teaser.twig"
        with {
          wp_id: post.id,
          url: post.link,
          title: post.title,
          date: include('@components/date/date.twig', {
            content: post.date
          }),
          image: post.thumbnail ? include('@base/images/thumbnail-image.twig', {
            img: {
              thumbnail: {
                src: post.thumbnail.src('small'),
                alt: post.thumnbail.alt
              }
            }
          }),
          comments: include('@components/comment-summary/comment-summary.twig', {
            comments: post.comments ? post.comments|length,
            url: post.link
          })
        }
      %}
    {% endfor %}
    {% include 'templates/components/pagination.twig' %}
  {% else %}
    <p>{{ __('Sorry Nothing to Display ','gesso') }}</p>
  {% endif %}
{% endblock %}
