{% block html_head_container %}
  {% include 'html-header.twig' %}
{% endblock %}

{% block page_header %}
  {# This is where you would stick another header, if different than #}
  {{ function('get_header') }}
{% endblock %}

<!-- Provided by templates/base.twig -->
<body {{ function('body_class')}}>

  {% block skiplinks %}
    <div class="skiplinks">
      <a href="#main" class="skiplinks__link visually-hidden focusable">Skip to main content</a>
    </div>
  {% endblock %}

  {% embed '@layouts/regions/header/header.twig' %}
    {% block content %}
      {% include '@components/site-name/site-name.twig' with {
        'url': site.url,
        'site_name': site.title
      } %}
    {% endblock  %}
  {% endembed %}

  {% embed '@layouts/regions/navigation/navigation.twig' %}
    {% block content %}
      {% include '@components/menu/menu.twig' with {
        'items': primary_menu.items,
        'menu_name': 'main'
      } %}
    {% endblock  %}
  {% endembed %}

  <main id="main" class="main" role="main" tabindex="-1">
    {% embed '@layouts/regions/preface/preface.twig' %}
      {% block content %}
      {% endblock %}
    {% endembed %}

    {% block content %}
      {% embed '@layouts/regions/content/content.twig' %}
        {% block content %}
        {% endblock %}
      {% endembed %}
    {% endblock %}

    {% embed '@layouts/regions/postscript/postscript.twig' %}
      {% block content %}
      {% endblock %}
    {% endembed %}
  </main>

  {% block footer %}
    {% include 'footer.twig' %}
    {{ function('wp_footer') }}
  {% endblock %}

  {% block javascripts %}
  {% endblock %}

</body>
</html>
