<!-- Provided by templates/footer.twig -->
<footer class="footer" role="contentinfo">
	<div class="l-constrain">
		{{ function('get_sidebar', 'footer') }}
		<p class="copyright">
			&copy; {{ current_year }} Copyright {{ site.name }}.
		</p>
	</div>
</footer>
