<!-- wp:template-part {"slug":"header","tagName":"header","className":"l-header"} /-->

<!-- wp:group {"tagName":"main","layout":{"type":"default"}} -->
<main class="wp-block-group"><!-- wp:group {"tagName":"article","className":"homepage-hero","layout":{"type":"constrained"}} -->
	<article class="wp-block-group homepage-hero"><!-- wp:post-title {"level":1,"align":"wide","className":"u-z-index-5 u-spaced-7-below u-spaced-sides-mobile"} /-->

	<!-- wp:group {"align":"wide","className":"logo-accent logo-accent\u002d\u002dtop","layout":{"type":"constrained"}} -->
	<div class="wp-block-group alignwide logo-accent logo-accent--top"><!-- wp:post-featured-image {"height":"","sizeSlug":"homepage_hero","align":"wide","className":" u-spaced-6-below homepage-hero__image"} /--></div>
	<!-- /wp:group --></article>
	<!-- /wp:group -->

	<!-- wp:group {"tagName":"article","layout":{"type":"default"}} -->
	<article class="wp-block-group"><!-- wp:post-content {"layout":{"type":"constrained"}} /--></article>
	<!-- /wp:group --></main>
	<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer","className":"l-footer"} /-->
