<!-- wp:template-part {"slug":"header","tagName":"header","className":"l-header"} /-->

<!-- wp:query {"queryId":1,"query":{"perPage":3,"pages":0,"offset":0,"postType":"post","categoryIds":[],"tagIds":[],"order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":true},"layout":{"inherit":true}} -->
<div class="wp-block-query"><!-- wp:post-template -->
<!-- wp:group {"tagName":"article","className":"article","layout":{"inherit":true}} -->
<article class="wp-block-group article"><!-- wp:post-title {"isLink":true,"className":"article__title"} /-->

<!-- wp:group {"tagName":"footer","className":"article__footer","layout":{"type":"flex","allowOrientation":false,"flexWrap":"nowrap"}} -->
<footer class="wp-block-group article__footer"><!-- wp:post-date /-->

<!-- wp:post-author {"showAvatar":false,"showBio":false} /--></footer>
<!-- /wp:group -->

<!-- wp:post-content {"className":"article__content"} /--></article>
<!-- /wp:group -->
<!-- /wp:post-template -->

<!-- wp:query-pagination -->
<!-- wp:query-pagination-previous /-->

<!-- wp:query-pagination-numbers /-->

<!-- wp:query-pagination-next /-->
<!-- /wp:query-pagination --></div>
<!-- /wp:query -->

<!-- wp:template-part {"slug":"footer"} /-->


<!-- wp:f1-block-library/back-to-top {"backgroundColor":"gray-2","textColor":"gray-4"} -->
<a href="#top" title="Back to Top" class="wp-block-f1-block-library-back-to-top has-gray-4-color has-gray-2-background-color has-text-color has-background back-to-top"><svg viewbox="0 0 19 12" xmlns="http://www.w3.org/2000/svg" class="back-to-top__icon"><path d="m2.3 12 7.5-7.5 7.5 7.5 2.3-2.3-9.7-9.7-9.7 9.7 2.3 2.3z"></path></svg></a>
<!-- /wp:f1-block-library/back-to-top -->
