<!-- wp:template-part {"slug":"header","tagName":"header","className":"l-header"} /-->

<!-- wp:group {"tagName":"main","layout":{"type":"default"}} -->
<main class="wp-block-group"><!-- wp:group {"align":"wide","layout":{"type":"default"}} -->
	<div class="wp-block-group alignwide"><!-- wp:group {"layout":{"type":"constrained"}} -->
	<div class="wp-block-group"><!-- wp:post-title {"level":1,"className":"u-spaced-6-below article__title"} /-->

	<!-- wp:post-featured-image {"height":"","sizeSlug":"hero","align":"wide","className":" u-spaced-6-below"} /--></div>
	<!-- /wp:group -->

	<!-- wp:post-content {"align":"wide","layout":{"type":"constrained"}} /--></div>
	<!-- /wp:group --></main>
	<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer","className":"l-footer"} /-->
