<!-- wp:template-part {"slug":"header","tagName":"header","className":"l-header"} /-->

<!-- wp:group {"tagName":"main","className":"search-listing","layout":{"inherit":true,"type":"constrained"}} -->
<main class="wp-block-group search-listing"><!-- wp:heading {"level":1,"className":"  is-style-no-max-width u-spaced-6-below"} -->
	<h1 class="is-style-no-max-width u-spaced-6-below" id="search-results">Search results</h1>
	<!-- /wp:heading -->

	<!-- wp:query {"queryId":1,"query":{"perPage":10,"pages":0,"offset":0,"postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":true},"displayLayout":{"type":"list"},"className":"facetwp-template"} -->
	<div class="wp-block-query facetwp-template"><!-- wp:post-template {"className":"u-spaced-4-below"} -->
	<!-- wp:group {"className":"u-spaced-6-below","layout":{"type":"constrained"}} -->
	<div class="wp-block-group u-spaced-6-below"><!-- wp:post-title {"isLink":true} /-->

	<!-- wp:post-excerpt {"moreText":"Read more","showMoreOnNewLine":false} /--></div>
	<!-- /wp:group -->
	<!-- /wp:post-template -->

	<!-- wp:query-no-results -->
	<!-- wp:paragraph {"placeholder":"Add text or blocks that will display when a query returns no results.","className":"l-constrain l-constrain\u002d\u002dsmall"} -->
	<p class="l-constrain l-constrain--small">Sorry, no results have been found for your search, please try another search.</p>
	<!-- /wp:paragraph -->

	<!-- wp:group {"className":"is-style-narrow-width u-spaced-4","layout":{"type":"constrained"}} -->
	<div class="wp-block-group is-style-narrow-width u-spaced-4"><!-- wp:search {"label":"Search","buttonText":"Search","className":"is-style-default"} /--></div>
	<!-- /wp:group -->
	<!-- /wp:query-no-results -->

	<!-- wp:query-pagination {"paginationArrow":"arrow","className":"u-spaced-4","layout":{"type":"flex","justifyContent":"center"}} -->
	<!-- wp:query-pagination-previous /-->

	<!-- wp:query-pagination-numbers /-->

	<!-- wp:query-pagination-next /-->
	<!-- /wp:query-pagination --></div>
	<!-- /wp:query --></main>
	<!-- /wp:group -->
<!-- wp:template-part {"slug":"footer","tagName":"footer","className":"l-footer"} /-->
