<!-- wp:template-part {"slug":"header","tagName":"header","className":"l-header"} /-->

<!-- wp:group {"tagName":"main","className":"article","layout":{"type":"default"}} -->
<main class="wp-block-group article"><!-- wp:group {"layout":{"type":"constrained"}} -->
	<div class="wp-block-group"><!-- wp:post-title {"level":1,"className":"article__title"} /-->

	<!-- wp:post-featured-image {"height":"","sizeSlug":"hero","align":"wide","className":" u-spaced-6-below"} /--></div>
	<!-- /wp:group -->

	<!-- wp:post-content {"align":"wide","className":"article__content","layout":{"inherit":true}} /--></main>
	<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer","className":"l-footer"} /-->
