// HTML Element: Ordered List

@use 'sass:math';
@use '00-config' as *;

ol:not([class]) {
  margin: 0 0 var(--wp--preset--spacing--4);
  padding: 0 0 0 var(--wp--preset--spacing--3); // LTR

  @if $support-for-rtl {
    [dir='rtl'] & {
      padding: 0 var(--wp--preset--spacing--3) 0 0;
    }
  }

  ol,
  ul {
    margin-top: calc(var(--wp--preset--spacing--4) / 2);
  }
}
