@use '00-config' as *;

$accordion-item-border-color: var(--wp--preset--color--gray-2, #e6e6e6);
$accordion-item-icon-color: var(--wp--preset--color--blue-base, #0071bc);
$accordion-item-icon-size: 20px;

.accordion__item {
	border-bottom: 1px solid $accordion-item-border-color;
}

.accordion__heading {
	@include reduce-motion('transition');
	cursor: pointer;
	display: flex;
	font-weight: 700;
	justify-content: space-between;
	margin: 0;
	padding: 1rem 4rem 1rem 1rem;
	position: relative;
	transition: all 200ms ease-out;
}

.accordion__drawer-inner {
	padding: 0 4rem 1rem 1rem;
}

.accordion__icon {
	height: $accordion-item-icon-size;
	position: absolute;
	right: 1.5rem;
	top: 50%;
	transform: translateY(-50%);
	width: $accordion-item-icon-size;

	&::before,
	&::after {
		@include reduce-motion('transition');
		background-color: $accordion-item-icon-color;
		content: '';
		display: block;
		height: 2px;
		left: 50%;
		position: absolute;
		top: 50%;
		transform: translate(-50%, -50%);
		transform-origin: center;
		transition: transform 150ms ease-out;
		width: 100%;
	}

	&::after {
		transform: translate(-50%, -50%) rotate(90deg);
	}

	[aria-expanded='true'] & {
		&::after {
			transform: translate(-50%, -50%) rotate(0deg);
		}
	}
}
