// Mixins: Button

@use '../functions/' as *;
@use './focus' as *;

$button-border-width: 0 !default;
$button-border-radius: 0 !default;
$button-background-color: var(--wp--preset--color--grayscale-black) !default;
$button-background-color-active: var(--wp--preset--color--grayscale-black) !default;
$button-background-color-disabled: var(--wp--preset--color--grayscale-gray-1) !default;
$button-background-color-hover: var(--wp--preset--color--grayscale-gray-6) !default;
$button-border-color: var(--wp--preset--color--grayscale-black) !default;
$button-border-color-hover: var(--wp--preset--color--grayscale-black) !default;
$button-border-color-disabled: var(--wp--preset--color--grayscale-black) !default;
$button-text-color: var(--wp--preset--color--grayscale-white) !default;
$button-text-color-active: var(--wp--preset--color--grayscale-white) !default;
$button-text-color-disabled: var(--wp--preset--color--grayscale-white) !default;
$button-text-color-hover: var(--wp--preset--color--grayscale-white) !default;
$button-font-size: 1rem !default;

@mixin button(
  $color-background: $button-background-color,
  $color-text: $button-text-color,
  $color-border: $button-border-color,
  $color-background-hover: $button-background-color-hover,
  $color-text-hover: $button-text-color-hover,
  $color-border-hover: $button-border-color-hover,
  $color-background-active: $button-background-color-active,
  $color-text-active: $button-text-color-active,
  $color-background-disabled: $button-background-color-disabled,
  $color-border-disabled: $button-border-color-disabled,
  $color-text-disabled: $button-text-color-disabled,
  $border-radius: $button-border-radius,
  $border-width: $button-border-width,
  $font-size: $button-font-size
) {
  background-color: $color-background;
  @if $border-width != 0 {
    border-block: $border-width solid $color-border;
  } @else {
    border-block: 0;
  }
  border-radius: $border-radius;
  color: $color-text;
  cursor: pointer;
  display: inline-block;
  font-family: var(--wp--preset--font-family--primary);
  font-size: rem($font-size);
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-weight: 700;
  line-height: var(--wp--custom--line-height--base);
  padding-block: var(--wp--preset--spacing--2);
  padding-inline: var(--wp--preset--spacing--4);
  text-align: center;
  text-decoration: none;
  transition: background var(--wp--custom--transitions--duration-short) var(--wp--custom--transitions--ease-in);
  vertical-align: top;
  white-space: normal;

  &:visited {
    color: $color-text;
  }

  &:hover,
  &:focus {
    background-color: $color-background-hover;
    @if $border-width != 0 {
      border-block-color: $color-border-hover;
    }
    color: $color-text-hover;
  }

  &:active,
  &.is-active {
    background-color: $color-background-active;
    color: $color-text-active;
  }

  &[disabled] {
    background-color: $color-background-disabled;
    @if $border-width != 0 {
      border-block-color: $color-border-disabled;
    }
    color: $color-text-disabled;
    cursor: default;
    pointer-events: none;
  }
}

@mixin text-button() {
  @include focus();
  appearance: none;
  background: transparent;
  border-block: 0;
  border-radius: 0;
  box-shadow: none;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  padding-block: 0;
  padding-inline: 0;
  -webkit-tap-highlight-color: transparent;

  &[disabled] {
    color: var(--wp--preset--color--grayscale-black);
    cursor: default;
    pointer-events: none;
  }
}
