// Mixins: Layout

@use '../functions' as *;
@use '../wordpress-base-styles' as *;

@mixin layout-align-left($margin) {
	float: inline-start;

	@if $margin {
		margin-inline-end: $margin;
	}
}

@mixin layout-align-right($margin) {
	float: inline-end;

	@if $margin {
		margin-inline-start: $margin;
	}
}

@mixin layout-align-none {
	float: none;
	margin-inline: 0;
}

@mixin layout-constrain(
	$max-width: var(--wp--custom--constrain--md),
	$margins-mobile: var(--wp--preset--spacing--4),
	$margins: calc(var(--wp--preset--spacing--4) * 2)
) {
	margin-inline: auto;
	max-inline-size: rem($max-width);

	@if $margins-mobile {
		padding-inline: rem($margins-mobile);
	}

	@if $margins {
		@include break-xlarge {
			padding-inline: rem($margins);
		}
	}

	// Just in case .l-constrain is nested within another .l-constrain.
	& & {
		padding-inline: 0;
	}
}

// Breaks something outside its parent l-constrain or other centered container
// and makes it flush with the edge of the viewport.
@mixin layout-full-bleed() {
	inline-size: 100vw;
	inset-inline: 50%;
	margin-inline: -50vw;
	position: relative;
}

// Reverses the above.
@mixin layout-undo-full-bleed() {
	inline-size: auto;
	inset-inline: auto;
	margin-inline: 0;
	position: static;
}
