<!-- Provided by components/comments.twig -->

<!-- NOTES:
  * This is NOT the default comment form for Wordpress. You may use this template to replace the default comment form by calling it as include in your twig template. ie {# include 'templates/components/comments.twig' #}.
  * Using this template may result in commenting systems like Discourse or Disqus not functioning properly, as they rely on the default Wordpress comment form.
 -->
<div class="comments">
  <h4>Comments:</h4>
  {% for comment in post.comments %}
    <div class="comments__item comments__item-order-{{loop.index}}" id="comment-{{comment.ID}}">
      <div class="comments__author">{{comment.author.name}}</div>
      <div class="comments__content">{{comment.content}}</div>
    </div>
  {% endfor %}
</div>
