{% for post in posts %}
  {% set image_teaser_date %}
    {% include '@components/date/date.twig' with {
      'content': post.date
    } %}
  {% endset %}
  {% set image_teaser_author %}
    {% include '@components/author/author.twig' with {
      'url': post.author.link,
      'author': post.author
    } %}
  {% endset %}
  {% if post.thumbnail %}
    {% set image_teaser_image %}
      {% include '@base/images/thumbnail-image.twig' with {
        'img': {
          'thumbnail': {
            'src': post.thumbnail.src('small'),
            'alt': post.thumnbail.alt
          }
        }
      } %}
    {% endset %}
  {% endif %}
  {% set image_teaser_comments %}
    {% include '@components/comment-summary/comment-summary.twig' with {
      'comments': post.comments ? post.comments|length,
      'url': post.link
    } %}
  {% endset %}
  {% embed '@components/image-teaser/image-teaser.twig' with {
    'url': post.link,
    'title': post.title,
    'date':image_teaser_date,
    'author': image_teaser_author,
    'image': image_teaser_image ? image_teaser_image : false,
    'comments': image_teaser_comments
  } %}
    {% block functions %}
      {{ function('gesso_link_pages') }}
      <div>{{ function('edit_post_link', 'Edit', '<span class="edit-link">', '</span>', post.id) }}</div>
    {% endblock %}
  {% endembed %}
{% else %}
  <h2>Sorry, nothing to display.</h2>
{% endfor %}
