<form class="search" method="get" action="{{ site.url}}" role="search">
	<label for="s" class="element-hidden">Search</label>
	<input class="search__input" type="search" name="s" placeholder="{{ __('To search, type and hit enter.', 'gesso') }}">
	<button class="button" type="submit" role="button">{{ __('Search', 'gesso') }}</button>
</form>
