// HTML Element: Universal

@use '00-config' as *;

// Uncomment to add a set of default transitions to all elements
// * {
//   transition-duration: var(--wp--custom--transitions--duration-short);
//   transition-property: background-color, border-color, box-shadow, color,
//     opacity, text-shadow, transform;
//   transition-timing-function: var(--wp--custom--transitions--ease-in);
// }

*,
*::before,
*::after {
  box-sizing: inherit;
}

@media print {
  * {
    background-color: transparent !important;
    box-shadow: none !important;
    color: #000 !important;
    text-shadow: none !important;
  }
  @page {
    margin: 2cm;
  }
}

// stylelint-disable-next-line selector-no-vendor-prefix
::-moz-selection {
  background: var(--wp--preset--color--brand-blue-base);
  color: var(--wp--preset--color--grayscale-white);
  text-shadow: none;
}

::selection {
  background: var(--wp--preset--color--brand-blue-base);
  color: var(--wp--preset--color--grayscale-white);
  text-shadow: none;
}
