{% if required is defined %}
  {% set is_required = required %}
{% endif %}

{% set label_classes = [
  'c-form-item__label',
  is_disabled ? 'is-disabled' : '',
  is_required ? 'is-required' : '',
  title_display == 'invisible' ? 'u-visually-hidden' : '',
  modifier_classes ? modifier_classes : '',
]|join(' ')|trim %}

<label class="{{ label_classes }}"{% if id %} for="{{ id }}"{% endif %}>
  {{- title }}

  {% if is_required %}
    {%- spaceless %}
      <span class="c-form-item__required-marker">
        <span class="u-visually-hidden">
          {{ 'This field is required.' }}
        </span>
      </span>
    {% endspaceless -%}
  {% endif -%}
</label>
