// HTML Element: Headings

@use '00-config' as *;

%hN {
	color: inherit;
	font-weight: 700;
	hyphens: none;
	line-height: var(--wp--custom--line-height--base);
  margin-block: 0 var(--wp--preset--spacing--4);
  margin-inline: 0;
	text-rendering: optimizelegibility;

	@media print {
		orphans: 3;
		page-break-after: avoid;
		widows: 3;

		&::after {
			display: inline-block;
		}
	}

	// Add top margin when headers are preceded by other elements (p, ul, etc.)
	* + & {
		margin-block-start: 1em;
	}
}

h1,
h2,
h3,
h4,
h5,
h6 {
	@extend %hN;
	// Remove top margin for adjacent subheadings.
	& + & {
		margin-block-start: 0;
	}
}
