// Utility: Spaced
// Used for vertical spacing.

@use '00-config' as *;
/* stylelint-disable */
$sizes: ();
@for $i from 0 through 19 {
  $sizes: append($sizes, $i);
}
/* stylelint-enable */

@each $size in $sizes {
  .u-spaced-#{$size},
  .u-spaced-#{$size}-above {
    margin-top: var(--wp--preset--spacing--#{$size}) !important;
  }

  .u-spaced-#{$size},
  .u-spaced-#{$size}-below {
    margin-bottom: var(--wp--preset--spacing--#{$size}) !important;
  }
}

.u-spaced-none,
.u-spaced-none-above {
  margin-top: 0 !important;
}

.u-spaced-none,
.u-spaced-none-below {
  margin-bottom: 0 !important;
}
