// HTML Element: Table

@use '00-config' as *;

caption {
	margin-bottom: var(--wp--preset--spacing--1);
}

// col {}

// colgroup {}

table {
	border-collapse: collapse;
	border-spacing: 0;
	margin-bottom: var(--wp--preset--spacing--4);
	min-width: 100%;
}

// tbody {}

td {
	background-color: var(--wp--preset--color--grayscale-white);
	border: 1px solid var(--wp--preset--color--grayscale-gray-5);
	padding: var(--wp--preset--spacing--4);


  .is-style-stripes tr:nth-child(even) & {
		background-color: var(--wp--preset--color--grayscale-gray-1);
  }
}

th {
	background-color: var(--wp--preset--color--grayscale-white);
	border: 1px solid var(--wp--preset--color--grayscale-gray-5);
	padding: var(--wp--preset--spacing--4);
	text-align: left;
}

tfoot {
	td,
	th {
		background-color: var(--wp--preset--color--grayscale-gray-2);
	}
}

thead {
	td,
	th {
		background-color: var(--wp--preset--color--grayscale-gray-2);
	}

	@media print {
		display: table-header-group;
	}
}

tr {
	@media print {
		page-break-inside: avoid;
	}
}
